<!--<div style="display: block; justify-content: flex-end; margin-bottom: 2rem; text-align: right;">-->
    <div style="display: inline-block;">
        <table class="fault" style="border-collapse: collapse; margin-left: auto; color: rgb(67, 160, 71); border: 1px solid rgb(0, 0, 0); padding: 4px;">
            <tr>
                <td style="margin: 0px; font-size: 12px; font-weight: 800; line-height: 1.5; color: rgb(244, 67, 54);">
                    <span th:text="${signature_check}"></span>
                </td>
            </tr>
            <tr>
                <td style="margin: 0px; font-size: 12px; font-weight: 800; line-height: 1.5;"></td>
            </tr>
            <tr>
                <td style="margin: 0px; font-size: 12px; font-weight: 800; line-height: 1.5;"></td>
            </tr>
            <tr>
                <td style="margin: 0px; font-size: 12px; font-weight: 800; line-height: 1.5;"></td>
            </tr>
        </table>