<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gerp.usermgmt.mapper.organization.SectionDesignationMapper">
    <resultMap id="sectionDesignation"
               type="com.gerp.usermgmt.pojo.organization.office.SectionDesignationPojo">
        <result column="section_designation_id" property="id"/>
        <result column="is_active" property="isActive"/>
        <result column="is_on_transfer_process" property="isOnTransferProcess"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <collection property="functionalDesignation" ofType="com.gerp.shared.pojo.IdNamePojo">
            <id property="code" column="functional_designation_code"/>
            <result column="functional_designation_name_np" property="nameN"/>
            <result column="functional_designation_name_en" property="name"/>
            <result column="functional_designation_type" property="designationType"></result>
        </collection>
        <collection property="section" ofType="com.gerp.usermgmt.pojo.organization.office.SectionPojo">
            <id property="id" column="section_id"/>
            <result column="section_name_en" property="nameEn"/>
            <result column="section_name_np" property="nameNp"/>
        </collection>
        <collection property="employee" ofType="com.gerp.usermgmt.pojo.organization.employee.EmployeePojo">
            <result column="employee_code" property="pisCode"/>
            <result column="employee_name_np" property="nameNp"/>
            <result column="employee_name_en" property="nameEn"/>
            <result column="employee_office_code" property="officeCode"/>
        </collection>
        <collection property="createdBy" ofType="com.gerp.usermgmt.pojo.organization.employee.EmployeePojo">
            <result column="c_employee_code" property="pisCode"/>
            <result column="c_employee_name_np" property="nameNp"/>
            <result column="c_employee_name_en" property="nameEn"/>
        </collection>
        <collection property="lastModifiedBy" ofType="com.gerp.usermgmt.pojo.organization.employee.EmployeePojo">
            <result column="m_employee_code" property="pisCode"/>
            <result column="m_employee_name_np" property="nameNp"/>
            <result column="m_employee_name_en" property="nameEn"/>
        </collection>
        <collection property="service" ofType="com.gerp.usermgmt.pojo.organization.office.ServicePojo">
            <id property="code" column="service_code"/>
            <result column="service_name_en" property="nameEn"/>
            <result column="service_name_np" property="nameNp"/>
        </collection>

        <collection property="position" ofType="com.gerp.usermgmt.pojo.organization.employee.PositionPojo">
            <id property="code" column="position_code"/>
            <result column="position_name_en" property="nameEn"/>
            <result column="position_name_np" property="nameNp"/>
        </collection>
    </resultMap>
    <select id="getParentSectionDesignation"
            resultType="com.gerp.usermgmt.pojo.organization.office.SectionDesignationPojo">


    </select>
    <select id="designationBySectionId"
            resultType="com.gerp.usermgmt.pojo.organization.office.SectionDesignationPojo">

    </select>
    <select id="getSectionDesignationByPisCode"
            resultMap="sectionDesignation">
        select sd.id as section_designation_id, ss.id as section_id , ss.name_en as section_name_en, ss.name_np as section_name_np, sd.is_active as is_active from section_designation sd
                                                       inner join section_subsection ss on ss.id = sd.section_subsection_id
                                                       inner join employee e on sd.employee_pis_code = e.pis_code
                                                       inner join functional_designation fd on e.designation_code = fd.code
        where sd.employee_pis_code = #{pisCode}
    </select>
    <select id="getSectionDesignationAllDetailById"
            resultMap="sectionDesignation">
        select sd.id,
               sd.last_modified_date,
               ss.name_en as section_name_en,
               ss.id as section_id,
               ss.name_np as section_name_np,

               s.name_en as service_name_en,
               s.name_np as service_name_np,
               s.code as service_code,

               p.name_en as position_name_en,
               p.name_np as position_name_np,
               p.code as position_code,

               fd.name_en as functional_designation_name_en,
               fd.name_np as functional_designation_name_np,
               fd.code as functional_designation_code,
               fd.designation_type as functional_designation_type,

               e.employee_code as employee_code,
               concat(e.first_name_en, ' ', e.middle_name_en, ' ', e.last_name_en) as employee_name_en,
               concat(e.first_name_np, ' ', e.middle_name_np, ' ', e.last_name_np) as employee_name_np,

               cEmployee.employee_code as c_employee_code,
               concat(cEmployee.first_name_en, ' ', cEmployee.middle_name_en, ' ', cEmployee.last_name_en) as c_employee_name_en,
               concat(cEmployee.first_name_np, ' ', cEmployee.middle_name_np, ' ', cEmployee.last_name_np) as c_employee_name_np,

               mEmployee.employee_code as m_employee_code,
               concat(mEmployee.first_name_en, ' ', mEmployee.middle_name_en, ' ', mEmployee.last_name_en) as m_employee_name_en,
               concat(mEmployee.first_name_np, ' ', mEmployee.middle_name_np, ' ', mEmployee.last_name_np) as m_employee_name_np,

               sd.created_date ,

               sd.last_modified_date as last_edited_date,
               sd.is_on_transfer_process


        from section_designation  sd
                 left join section_subsection ss on sd.section_subsection_id = ss.id
                 left join  service s on sd.service_id = s.code
                 left join position p on sd.position_id = p.code
                 left join employee e on sd.employee_pis_code = e.pis_code
                 left join functional_designation fd on sd.functional_designation_code = fd.code

                 left join users cUser on cUser.id = sd.created_by
                 left join employee cEmployee on cEmployee.pis_code = cUser.pis_employee_code

                 left join users mUser on mUser.id = sd.last_modified_by
                 left join employee mEmployee on mEmployee.pis_code = mUser.pis_employee_code

        where sd.id = #{id};
</select>
</mapper>
